# Add any directories, files, or patterns you don't want to be tracked by version control
.Rproj.user
packfile
/02_data
/02_data/datList.rds
/02_data/modList_Incorrect.rds
/02_data/modList_Ignore.rds
/04_codaSamples
/04_codaSamples/coda_2pl.rds
.Rhistory
0b_Real_data_analysis.R

/02_data_cond2
/02_data_all
/00_Archiv